# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6270dbe9fc3fa5f6ac89ede3ad72d47ba790b54d92e574fadf37d52e3bbda24ba56dbb283c0a38c5e2386e0f601ab8b125024a6bc7195a2672ee651fd287cbe0

test:
  secret_key_base: efa6d574d521d0607989382d183787845b1ba13355163cb11ab61d0840b8946973e5ded5afeb670e1a1ab21c3909c6da3570ceb60197d024d10c6df62ad6e44e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
